.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px; /* Ajusta el ancho según sea necesario */
  }

  .fa-fw {
    margin-right: 8px; /* Ajusta el valor según sea necesario */
  }